<!DOCTYPE html>
<html lang="en">
<%- include('./partials/_header') %>

  <ul>
    <li><a href="<%= longURL %>"><%= newShortURL %></a></li>
     <form action=<%=`/urls/${newShortURL}/delete`%> method="POST" style="margin:150px;">
      <input type="submit" value="delete">
      </form>
  </ul>

</body>
</html>